body {
  background-image: radial-gradient(
    120% 600px at 50% 200px,
    #1c99ff,
    #7006be 120%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  color: #fff;
  font-size: 64px;
  font-family: PT Sans, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}
