$primary: #208db2;

.nav.navbar-nav.navbar-nav li a {
  color: $primary;
}

.textcolor {
  color: lightblue;
}

.mycontainer{

  text-align: center;


}
.h1{
    color: white;
}
.App-logo {

  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 250px;
  margin-top: -10%;

  animation-name: example;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  transition: all 0.4s ease;
  transform-style: preserve-3d;

}

.addpadding {
  padding-right: 20px;
}

.App-logo:hover {
  transform: rotateY(180deg);
}

#content {
  text-align: center;
  padding-top: 25%;
}

body {

  background: url(../js/images/background.jpg);
  background-size: cover;
  bckground-position: center;
  background-repeat: no-repeat;
}



.center-height {

  margin-top: 20%;
  margin-bottom: 20%;

}

.mynav {
  padding-top: 2px;

}

.mybtncolor{
  background-color: $primary;
  color: white;
}


.has-danger {
  color:red;

}

.buttonsCenter{

  margin-left: 30%;
  margin-right: 30%;
}

form button {

  margin-left: 20px ;

}


.center_div{
  padding-top: 15%;
  padding-left:40%;
  padding-right:40%;
  position:relative;
  width:100%;
  margin:0 auto;
  float: none;
}

.center_div_btn{
  padding-left: 10%;
  padding-right: 30%;
  position: relative;
  min-width:250px;
  float:none;
  margin:0 auto;
}
